@font-face {
  font-family: Gotham;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-Medium.eot);
  src: local("Gotham"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Medium.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Medium.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Medium.svg#webfont) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.eot);
  src: local("Gotham-Bold"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.svg#webfont) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Bold;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.eot);
  src: local("Gotham-Bold"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Bold.svg#webfont) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Italic;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-LightItalic.eot);
  src: local("Gotham-Italic"), url(https://cdn.nwea.org/fonts/gotham/Gotham-LightItalic.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-LightItalic.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-LightItalic.svg#webfont) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Italic;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-BookItalic.eot);
  src: local("Gotham-Italic"), url(https://cdn.nwea.org/fonts/gotham/Gotham-BookItalic.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-BookItalic.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-BookItalic.svg#webfont) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Italic;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-MediumItalic.eot);
  src: local("Gotham-Italic"), url(https://cdn.nwea.org/fonts/gotham/Gotham-MediumItalic.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-MediumItalic.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-MediumItalic.svg#webfont) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Italic;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-BoldItalic.eot);
  src: local("Gotham-Italic"), url(https://cdn.nwea.org/fonts/gotham/Gotham-BoldItalic.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-BoldItalic.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-BoldItalic.svg#webfont) format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Light;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-Light.eot);
  src: local("Gotham-Light"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Light.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Light.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Light.svg#webfont) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Book;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-Book.eot);
  src: local("Gotham-Book"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Book.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Book.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Book.svg#webfont) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham-Black;
  src: url(https://cdn.nwea.org/fonts/gotham/Gotham-Black.eot);
  src: local("Gotham-Black"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Black.woff) format("woff"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Black.ttf) format("truetype"), url(https://cdn.nwea.org/fonts/gotham/Gotham-Black.svg#webfont) format("svg");
  font-weight: 400;
  font-style: normal;
}
#lp-header-logo {
  padding: 20px 0px 20px;
}
#lp-header-logo h1 {
  text-align: center;
  color: #454243;
  font-family: gotham-book;
  font-size: 16px;
  font-size: 26px !important;
}
#lp-header-logo img {
  max-width: 90vw;
  width: 500px;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 15px;
}

#lp-bg-container {
  width: 100vw;
  position: relative;
}

#lp-bg-video-container {
  width: 100vw;
  height: 60vh;
  min-height: 500px;
  position: relative;
}
#lp-bg-video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

#lp-bg-container-copy-container {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 3%;
  display: block;
  margin: auto;
}
#lp-bg-container-copy-container #lp-bg-container-copy {
  background-color: rgba(143, 196, 63, 0.85);
  width: 535px;
  height: auto;
  display: block;
  margin: auto;
  padding: 15px 20px 15px;
}
#lp-bg-container-copy-container #lp-bg-container-copy h1 {
  text-align: center;
  font-size: 1.6rem;
  color: #ffffff;
  font-family: Gotham-Bold !important;
}

#lp-inner-content-wrapper {
  position: relative;
}
#lp-inner-content-wrapper #lp-inner-content-container {
  margin-top: -16rem;
  padding-bottom: 5rem;
}
#lp-inner-content-wrapper .lp-inner-content {
  display: block;
  position: relative;
}
#lp-inner-content-wrapper .lp-inner-content .lp-cta {
  background-color: #fff;
  border: 1px solid #f5f6f7;
  padding: 45px 15px 15px;
  box-shadow: 3px 4px 5px 0 rgba(65, 65, 66, 0.1);
  position: relative;
  text-align: center;
}
#lp-inner-content-wrapper .lp-inner-content .div-cta {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
#lp-inner-content-wrapper h2 {
  color: #414142;
  font-size: 1.6rem;
  font-family: Gotham-Bold;
  margin-bottom: 0px !important;
}
#lp-inner-content-wrapper h4 {
  text-align: center;
  font-size: 1.1rem;
  color: #414142;
  font-family: Gotham-book !important;
  padding-top: 15px;
  min-height: 4.875rem;
}
#lp-inner-content-wrapper div img {
  width: 50px;
  height: auto;
}

@media only screen and (max-width: 575px) {
  #lp-bg-video-container {
    height: 40vh !important;
    background-image: "assets/Formative_learning.png";
  }
  #lp-bg-video-container video {
    display: block;
    display: none;
  }

  #lp-bg-container-copy-container {
    padding-top: 20% !important;
  }

  #lp-bg-container-copy {
    width: 95% !important;
  }
}
footer {
  background-color: #454243;
}

#lp-footer {
  color: #454243;
  padding: 30px 0px 30px;
}
#lp-footer img {
  display: block;
  margin: auto;
  width: 6.25rem;
  height: auto;
}

#il-header-logo {
  background-color: #454243;
  color: #454243;
  padding: 30px 0px 30px;
}
#il-header-logo img {
  display: block;
  margin: auto;
  width: 6.25rem;
  height: auto;
}

.nav-item a {
  padding: 1.5rem 1rem 1.5rem !important;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #414142;
  font-family: gotham;
}
.nav-item a .nav-link {
  padding: 3rem;
}
.nav-item a:hover {
  color: #217b8e !important;
}
.nav-item a:active {
  font-family: gotham-bold;
}
.nav-item img {
  width: 30px;
  height: auto;
  display: inline;
  margin-top: -4px;
}

.navbar-brand img {
  padding: 1.5rem 1rem 1.5rem !important;
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .nav-item a {
    font-size: 1.3rem;
  }
}
#informing-leaders-hero {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg1_01/01_1920x525_1.jpg");
}

#supporting-teachers-hero {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg2_01/02_1920x525_1.jpg");
}

#engaging-students-hero {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg3_01/03_1920x525_1.jpg");
}

.cp-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cp-hero .container {
  padding: 75px 0px 75px;
}
.cp-hero .cp-hero-copy {
  width: 75%;
}
.cp-hero .cp-hero-copy .cp-hero-copy-bg {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
}
.cp-hero .cp-hero-copy .cp-hero-copy-bg div h2 {
  font-size: 1.6rem;
  font-family: gotham-book;
  color: #ffffff;
}
.cp-hero .cp-hero-copy .cp-hero-copy-bg div p {
  font-size: 1.2rem;
  font-family: gotham-book;
  color: #ffffff;
}
.cp-hero .cp-hero-copy .cp-hero-copy-bg div .cp-hero-line {
  border-top: 5px solid #90c540;
  width: 60px;
}

@media only screen and (max-width: 575px) {
  .cp-two-column-copy {
    margin: auto;
  }
}
.carousel-control-prev {
  z-index: 21 !important;
}

.carousel-control-next {
  z-index: 21 !important;
}

.slider-content-padding {
  bottom: 10rem !important;
}

#carouselExampleIndicators {
  min-height: 620px;
}

.carousel-item.active {
  min-height: 620px;
}

#carousel-bg-img {
  min-height: 620px;
  object-fit: cover;
}

.carousel-content-container {
  position: absolute;
  z-index: 20;
  width: 100%;
}

.first-slide {
  bottom: 17rem;
}
.first-slide .carousel-content {
  width: 60%;
}

.content-slides {
  bottom: 5rem;
}

@media only screen and (max-width: 575px) {
  .first-slide {
    bottom: 12rem;
  }
}
.carousel-content {
  color: #414142;
  text-align: center;
  width: 80%;
  margin: auto;
}
.carousel-content h2 {
  font-size: 1.5rem;
  font-family: gotham-bold;
}
.carousel-content p {
  font-family: gotham-book;
  font-size: 1.2rem;
  padding-top: 15px;
}

.carousel-two-column {
  bottom: 5rem !important;
}
.carousel-two-column .carousel-content {
  text-align: left !important;
}

.carousel-content-left-copy {
  color: #ffffff !important;
  text-align: left !important;
}

.carousel-content-right-img img {
  width: 700px;
}

@media only screen and (max-width: 991px) {
  .carousel-content-right-img {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #carousel2-slide3-copy {
    padding-top: 3.125rem;
  }

  #carousel2-slide4-copy {
    padding-top: 6.25rem;
  }

  #carousel2-slide4-img {
    width: 575px !important;
  }

  #carousel2-slide6-copy {
    padding-top: 6.25rem;
  }

  #carousel2-slide6-img img {
    width: 575px !important;
  }

  #carousel2-slide7-copy {
    padding-top: 9.375rem;
  }

  #carousel2-slide7-img {
    width: 450px;
  }

  #carousel3-slide4-copy {
    padding-top: 3.125rem;
  }

  #carousel3-slide6-copy {
    padding-top: 3.125rem;
  }

  #carousel3-slide6-img img {
    width: 650px;
  }
}
#reach-more-students {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg1_01/01_1920x525_3.jpg");
}

#commited-to-your-success {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg1_01/01_1920x525_5.jpg");
}

#one-size-doesnt-fit-all {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg2_01/02_1920x525_3.jpg");
}

#power-up-personalization {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg2_01/02_1920x620_4.jpg");
}

#better-test-experience {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg3_01/03_1920x525_3.jpg");
}

#assessments-unique-as-your-students {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg3_01/03_1920x525_5.jpg");
}
#assessments-unique-as-your-students h2 {
  color: #414142;
}
#assessments-unique-as-your-students p {
  color: #414142;
}

#p3-engaged-students {
  background-image: url("assets/KAP8582 MG product tour imgs MAR22_D01/Exports_pg3_01/03_1920x525_7.jpg");
}

.cp-centered {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.cp-centered .cp-centered-copy {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 6.25rem 0rem 6.25rem;
}
.cp-centered .cp-centered-copy h2 {
  font-size: 1.6rem;
  font-family: gotham;
  color: #ffffff;
}
.cp-centered .cp-centered-copy p {
  font-size: 1.2rem;
  font-family: gotham-book;
  color: #ffffff;
}

#p3-test-my-class img {
  width: 35rem;
  box-shadow: 3px 4px 5px 0 rgba(65, 65, 66, 0.2);
  border: 0.5px solid #454243;
}

.cp-two-column {
  width: 100%;
}
.cp-two-column .container {
  padding: 6.25rem 0rem 6.25rem;
}
.cp-two-column .row2 {
  padding-top: 6.25rem;
}
.cp-two-column .cp-two-column-image-left img {
  min-width: 9.375rem;
  width: 15.625rem;
  height: auto;
  margin: auto;
  display: block;
}
.cp-two-column .cp-two-column-copy-right h2 {
  font-size: 1.6rem;
}
.cp-two-column .cp-two-column-copy-right p {
  font-size: 1.2rem;
  padding-top: 15px;
}

#p3-student-login img {
  width: 30rem;
  box-shadow: 3px 4px 5px 0 rgba(65, 65, 66, 0.2);
  border: 0.5px solid #454243;
}

.cp-two-column-image-right img {
  min-width: 9.375rem;
  width: 15.625rem;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
}

.cp-two-column-copy-left h2 {
  font-size: 1.6rem;
}
.cp-two-column-copy-left h4 {
  font-size: 1.4rem;
  margin-bottom: -10px;
  margin-top: 15px;
}
.cp-two-column-copy-left p {
  font-size: 1.2rem;
  padding-top: 15px;
}

@media only screen and (max-width: 575px) {
  .row2 {
    padding-top: 9.375rem;
  }

  .cp-two-column-copy-right {
    padding-top: 3.125rem;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  .cp-two-column-copy-left {
    padding-top: 3.125rem;
    text-align: center;
    width: 70%;
    margin: auto;
  }

  #reveal-math-copy {
    padding-top: 0rem !important;
  }

  #instructional-connections-img img {
    width: 300px;
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 576px) {
  .row2 {
    padding-top: 9.375rem;
  }

  .cp-two-column-copy-right {
    padding-top: 3.125rem;
  }

  .cp-two-column-copy-left {
    padding-top: 3.125rem;
  }

  #onboard-with-ease-copy {
    padding-top: 3.125rem;
  }

  #reveal-math-copy {
    padding-top: 0rem !important;
  }

  #reveal-math-logo {
    padding-top: 3.125rem;
  }

  #instructional-connections-copy {
    text-align: center;
    width: 800px;
    margin: auto;
  }

  #instructional-connections-img img {
    width: 800px;
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .cp-two-column-image-left {
    padding-right: 6.25rem;
  }

  #adaptive-design-copy {
    padding-top: 1.25rem;
  }

  #cover-more-ggrades-copy {
    padding-top: 3.125rem;
  }

  #supporting-access-copy {
    padding-top: 3.125rem;
  }

  #onboard-with-ease-copy {
    padding-top: 3.125rem;
  }

  #professional-learning-copy {
    padding-top: 2.5rem;
  }

  #reveal-math-logo {
    padding-top: 0px;
  }
  #reveal-math-logo img {
    width: 25rem;
  }

  #reveal-math-copy {
    padding-top: 1.25rem !important;
  }

  #map-growth-gif img {
    width: 30rem;
  }

  #map-accelerator-copy {
    margin-top: 8.75rem;
  }

  #instructional-connections-copy {
    text-align: center;
    width: 800px;
    margin: auto;
  }

  #instructional-connections-img img {
    width: 800px;
  }
}
#map-growth-espanol {
  background-color: #E5EA8D;
}

#flexible-support {
  background-color: #BFE6EF;
}

#ready-whenever-you-are {
  background-color: #00A79D;
}

#ready-whenever-you-are-copy h2 {
  color: #ffffff;
}
#ready-whenever-you-are-copy p {
  color: #ffffff;
}

.cp-feature-two-column {
  position: relative;
  width: 100%;
}
.cp-feature-two-column .container {
  padding: 3.125rem 0rem 3.125rem;
}
.cp-feature-two-column .cp-feature-two-column-image-left img {
  width: 31.25rem;
  height: auto;
  margin: auto;
  display: block;
}
.cp-feature-two-column .cp-feature-two-column-copy-right h2 {
  font-size: 1.6rem;
}
.cp-feature-two-column .cp-feature-two-column-copy-right p {
  font-size: 1.2rem;
  padding-top: 15px;
}

@media only screen and (max-width: 575px) {
  .cp-feature-two-column {
    height: fit-content;
  }

  .cp-feature-two-column-copy-right {
    text-align: center;
    margin: auto;
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  .cp-feature-two-column-copy-right {
    padding-top: 9.375rem;
  }

  .cp-feature-two-column-image-left {
    padding-right: 6.25rem;
  }
}
.cp-quote-next-page {
  background-image: url("assets/KAP8582-MAP-Growth-product-tour-Image-D03/growth-semi-transparent_700x700.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.cp-quote-copy {
  padding-top: 0rem !important;
}

.cp-quote-citation {
  font-size: 0.9rem !important;
  font-family: Gotham-Italic !important;
}

.cp-next-page a {
  padding: 1.5rem 1rem 0rem !important;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #414142;
  font-family: gotham-book;
  font-size: 2rem;
  width: 15.625rem;
  margin: auto;
}
.cp-next-page a .cp-next-page-link {
  padding: 3rem;
}
.cp-next-page a:hover {
  font-family: gotham-bold;
  color: #414142;
}
.cp-next-page img {
  width: 3.125rem;
  height: auto;
  display: inline;
  margin-top: -4px;
}

.cp-next-page-copy {
  font-family: gotham-book;
  font-size: 1.31rem;
}

@media only screen and (max-width: 766px) {
  .cp-next-page-copy {
    text-align: center;
  }
}
@media only screen and (min-width: 767px) {
  .cp-next-page-copy {
    padding-left: 65px;
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .cp-next-page-copy {
    padding-left: 7.8125rem;
  }
}
@media only screen and (min-width: 1200px) {
  .cp-next-page-copy {
    padding-left: 10.625rem;
  }
}
@media only screen and (min-width: 1400px) {
  .cp-next-page-copy {
    padding-left: 13.4375rem;
  }
}
.cp-footer-button {
  padding: 1em 2em;
  text-align: center;
  line-height: 1;
  border-width: 2px;
  border-style: solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0.5em 0;
  overflow: visible;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-appearance: none;
  font-family: "Gotham-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  background: #2690A6;
  color: #FFF !important;
  border-color: #2690A6;
}

#cp-footer {
  color: #454243;
  padding: 30px 0px 0px;
}
#cp-footer img {
  display: block;
  margin: auto;
  width: 6.25rem;
  height: auto;
}
#cp-footer .cp-footer-copy p {
  font-size: 1.6rem;
  color: #ffffff;
  font-family: gotham-bold;
  text-align: right;
  padding-top: 1rem;
}

@media only screen and (max-width: 767px) {
  .cp-footer-copy p {
    text-align: center !important;
  }

  .cp-footer-cta {
    text-align: center;
  }
}
.modal-body .mktoForm {
  width: 75% !important;
  margin: auto;
}
.modal-body .mktoForm .mktoField, .modal-body .mktoForm label, .modal-body .mktoForm .mktoButton {
  font-size: 1.2em !important;
}
.modal-body .mktoForm .mktoAsterix, .modal-body .mktoForm .mktoOffset, .modal-body .mktoForm .mktoGutter {
  display: none !important;
}
.modal-body .mktoForm .mktoFormRow {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal-body .mktoForm .mktoFieldDescriptor {
  width: 100% !important;
}
.modal-body .mktoForm .mktoLabel {
  font-family: Gotham-Bold !important;
}
.modal-body .mktoForm .mktoHasWidth, .modal-body .mktoForm .mktoFieldWrap {
  width: 100% !important;
}
.modal-body .mktoForm input, .modal-body .mktoForm textarea {
  border: 1px solid #414142;
  padding: 0.5em !important;
}
.modal-body .mktoForm input, .modal-body .mktoForm select, .modal-body .mktoForm textarea, .modal-body .mktoForm label {
  display: block !important;
  float: none !important;
  width: auto !important;
  max-width: 100%;
}
.modal-body .mktoForm input[type=checkbox] {
  float: left !important;
  margin-top: 0.2em;
}
.modal-body .mktoForm select.mktoField {
  float: none;
  display: block;
}
.modal-body .mktoForm .mktoButtonWrap {
  margin-left: 0 !important;
}
.modal-body .mktoForm .mktoButtonRow {
  display: block;
  text-align: center;
}
.modal-body .mktoForm .mktoButton {
  text-transform: uppercase;
  color: #414142 !important;
  background-image: none !important;
  border: none !important;
  background-color: #FFC00E !important;
}

/*# sourceMappingURL=style.css.map */
